:root {
    --main-bg: #ffd5cd;
    --main-text: #efbbcf;
    --decor-text: #8675a9;
    --color-btn: #c3aed6;
    --color-hover-btn:#8675a9;
}
.header {
    margin-top: 50px;
    margin-bottom: 1000px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.header__top__left__nav {
    text-decoration: none;
    color: var(--decor-text);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.header__top__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: max-content;
}
.header__top__right__privateOffice {
    color: var(--decor-text);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    min-width: max-content;
}
.header__top__right__privateOffice__icon {
    max-width: 20px;
    min-height: 15px;
    margin-left: 10px;
    fill: var(--decor-text);
    cursor: pointer;
}
/* ***************************************************************** */

.header__middle {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__middle__left_lable {
    font-family: "PT Serif", serif;
    font-size: 32px;
    color: var(--main-text);
}

.header__middle__centr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 98px;
}
.header__middle__centr__address__title {
    color: var(--decor-text);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 5px;
}
.header__middle__centr__contacts__title {
    color: var(--decor-text);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 5px;
}
.header__middle__centr__contacts__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header__middle__centr__contacts__phone__box{
    display: flex;
    justify-content: space-between;
    min-width: 143px;
}
.header__middle__centr__contacts__phone__icon{
    max-width: 10px;
}
/* ************************************************************** */

.header__middle__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* *************************************************************** */

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header__bottom__btn {
    border: none;
    padding: 10px 45px;
    cursor: pointer;
    font-family: "PT Serif", serif;
    font-size: 24px;
    color: var(--decor-text);
    background-color: var(--main-bg);
    transition: 0.3s;
    border-radius: 5px;
}
.header__bottom__btn:hover {
    background-color: var(--main-text);
}