:root {
    --main-bg: #ffd5cd;
    --main-text: #3CA1D9;
    --decor-text: #8675a9;
    --decor-text-hover: #4e26a0;
    --color-btn: #c3aed6;
    --color-hover-btn:#8675a9;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.mainContentBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(247, 247, 247);
}

.mainContentHeader {
    color: rgb(41, 41, 41);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 42px;
    margin-top: 36px;
}
.cartsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

}
.cartsBoxDecor {
    cursor: pointer;
    border: 1px solid rgb(237, 237, 240);
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.cartsBoxDecor:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.productCartBoxBy {
    display: flex;
    justify-content: space-between;
}
.productImg {
    border-radius: 5px 5px 0px 0px;
}
.productName{
    color: rgb(41, 41, 41);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 21px 22px 14px 21px;

}
.productCartInfoCalories{
    color: rgb(41, 41, 41);
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    padding-left: 22px;
    padding-right: 21px;
    padding-bottom: 14px;
}
.productCartSeparate{
    border: 1px solid rgb(237, 237, 240);
}
.productCartPrice{
    color: rgb(231, 66, 106);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
}

.productCartRub{
    height: 18px;
}

.productCartPriceBy{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 25px 10px 21px;
}
.productCartBy {
    border: none;
    cursor: pointer;
    background: rgb(247, 247, 247);
}
.productBtnBy{
    padding-right: 16px;
    background: rgb(247, 247, 247);
}

@media (max-width: 460px) {
    .cartsBox{
        padding-left: 16px;
        padding-right: 16px;
        gap: 8px;
        display: flex;
        justify-content: space-around;
    }
    .productCart {
        max-width: 140px;
        box-sizing: border-box;
        border: 1px solid rgb(237, 237, 240);
        border-radius: 5px;
        background: rgb(255, 255, 255);
    }
    .productImg {
        max-width: 140px;
    }
    .productName {
        color: rgb(41, 41, 41);
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        margin-bottom: 8px;
    }
    .productCartInfoCalories{
        color: rgb(41, 41, 41);
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }
    .productCartSeparate{
        border: 1px solid rgb(237, 237, 240);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .productCartPrice{
        color: rgb(231, 66, 106);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        padding-left: 12px;
    }
    .productCartBy{
        background-color: white;
        padding-right: 10px;
    }
}