:root {
    --main-bg: #ffd5cd;
    --main-text: #3CA1D9;
    --decor-text: #8675a9;
    --decor-text-hover: #4e26a0;
    --color-btn: #c3aed6;
    --color-hover-btn:#8675a9;
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header {
    
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D4E9F9;
    min-height: 50px;
}
.header__top__contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header__top__contentText {
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2%;
    text-align: center;
    max-width: 490px;
}
/* ***************************************************************** */

.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7EBE5;
    min-height: 60px;
}
.header__middle__lableBox {
    padding: 50px 20px;
    text-align: center;
}
.header__middle__lableText {
    font-size: 70px;
    font-weight: 500;
    color: #000;
    border-right: 4px solid #000;
    animation: cursor 1s infinite step-end;
    animation: cursor 1s infinite step-end, typing 15s infinite steps(15);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes cursor{
    0%, 100%{border-color: transparent;}
    50%{border-color: #000;}
}
@keyframes typing{
    0%{ width: 0ch} /*Text is hidden*/
    30%{ width: 14ch;} /*The enitre header will be typed out 1 character at a time*/
    80%{ width: 14ch;} /*Text stays visible*/
    90%{ width: 0ch;} /*Text is deleted*/
    100%{ width: 0ch;} /*Text stays hidden*/
}
/* .header__middle__lableText{
    font-family: 'Righteous', cursive;
    position: relative;
    color: #3CA1D9; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 60px;
    margin: 0; 
    line-height: 1;
}
.header__middle__lableText::before, .header__middle__lableText::after {
    content: ""; 
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #3CA1D9 2px, #3CA1D9 4px);
}
.header__middle__lableText::before{
    left: 0;
}
.header__middle__lableText::after{
    right: 0;
}
@media (max-width: 420px) {
    .header__middle__lableText {font-size: 2em;}
  } */
.header__middle__lableCityBox {
    display: flex;
    gap: 10px;
}
.header__middle__menu {
    display: none;
}
.header__middle__lableCity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.header__middle__lableCityText{
    color: rgba(0, 0, 0, 0.88);
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}
.header__middle__lableSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header__middle__lableSocial__box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.headerSocialIcon {
    cursor: pointer;
}

.header__middle__registration__box {
    & a{
        color: rgba(0, 0, 0, 0.88);
        font-family: Proxima Nova;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        padding-left: 15px;
    }
}

.header__middle__registration__login {

}

.header__middle__registration {

}

.header__middle__catch{
    display: none;
}
/* *************************************************************** */
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    position: relative;
    background: rgb(247, 247, 247);
}
.header__nav__titleBox{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-left: 130px;
}
.header__nav__title {
    color: rgb(43, 20, 20);
    font-family: Proxima Nova;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-transform: uppercase;
    cursor: pointer;
    list-style: none;
    /* ****************** */
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin .25s;
}
.header__nav__title:hover {
    color: var(--main-text);
    cursor: pointer;
}
.header__nav__svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
}
.header__nav__svg:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
}
.header__nav__subtitle{
    margin-top: 10px;
    cursor: pointer;
    color: rgb(43, 20, 20);
    font-family: Proxima Nova;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.header__nav__subtitle:hover{
    color: var(--main-text);
}
.header__nav__listOfCake{
    position: absolute;

    transition: all 0.4s ease-in-out;
    max-height: 20px;
    overflow: hidden;

    top: 0;
    margin-top: 10px;
}
.header__nav__listOfCake[open] {
    max-height: 140px;
}

@media (max-width: 420px) {
    .header__middle__menu {
        display: block;
        margin-left: 18px;
        cursor: pointer;
    }
    .header__middle__lableCityBox {
        display: none;
    }

    .header__middle__catch {
        display: block;
        margin-right: 25px;
        cursor: pointer;
    }
    .header__middle__lableSocial{
        display: none;
    }
    .header__nav{
        display: none;
    }
    .header__middle__lableText {
        font-size: 30px;
    }
}