.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.productBackToHomeBtn{
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    background-color: #4E9DD3;
    padding: 15px 50px;
    border: solid 1px #4E9DD3;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBackToHomeBtn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(88, 111, 202);
    border: solid 1px rgb(88, 111, 202);
}

.productOverviewBox {
    background: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productTitleBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productTitle {
    color: rgb(41, 41, 41);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 42px;
    margin-top: 36px;
}

.productViewBox {
    min-width: 150px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.productViewBox__left {
    max-height: 700px;
    min-width: 460px;
    overflow-y:scroll;
    border-radius: 10px;
}

.productImgAll {
    width: 460px;
    cursor: pointer;
    border-radius: 10px;
}

.productImgAll:hover {
    opacity: 80%;
    transition: opacity 0.5s ease;
}

.productViewBox__right {

}

.productImgBig {
    width: 700px;
    border-radius: 10px;
}

.productDiscribeBoxPriceBox{
    display: flex;
    align-items: center;
}

.productDiscribeBoxImg{
    height: 18px;
}

@media (max-width: 460px){
    .productImgAll{
        width: 330px;
    }

    .productViewBox__right{
        display: none;
    }

    .productViewBox__left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .productDiscribeBox{
        max-width: 330px;
    }

    .productViewBox__left{
        min-width: auto;
    }
}